<footer class="container grid-xl">
    <section class="footer-copyright d-flex" style='justify-content: center;'>
        <span>
            PH 20xx Copyrighted
        </span>
    </section>
</footer>