<header class="navbar container grid-xl">
    <section class="navbar-section">
        <a href="./" class="navbar-brand mr-2 text-bold">Home</a>
    </section>
    <section class="navbar-section">
        <a href="./login" class="btn btn-link">Login</a>
    </section>
</header>