<header class="navbar container grid-xl py-2">
    <section class="navbar-section">
        <a href="./" class="navbar-brand mr-2 text-bold">Home</a>
    </section>
    <section class="navbar-section">
        <a href="./register" class="btn btn-link">Register</a>
        <a href="./login" class="btn btn-link">Login</a>
    </section>
</header>