<%- include('head'); -%>

<body>
    <%- include('header'); -%>
    <div class="container content">
        <div class="columns">
            <div class="col-3">
                <img src="../images/logo.jpg" class="img-responsive">
            </div>
            <div class="hero col-9 bg-dark">
                <div class="hero-body">
                    <h1><b>Still</b>'s Login Portal</h1>
                    <p>You've reached our secret login panel! Please login so you can access our sensitive data.</p>
                </div>
            </div>
        </div>
    </div>
</body>